.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2 {
    display: flex;
    justify-content: center;
  }
  .formations {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .sub_container {
      display: flex;
      gap: 16px;
      padding: 8px;

      .chronology {
        display: flex;
        align-items: flex-start;
        font-weight: 800;
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: var(--font2);
        }
      }
      .formation {
        display: flex;
        flex-direction: column;
        flex: 1 0;
        border-radius: var(--little-radius);
      }
    }
  }
}
