@use "../../../style/mixin" as mxn;

.container {
  position: relative;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  flex-direction: column;
  max-width: 1vw;
  overflow: hidden;
  gap: 8px;
  @media (min-width: 1070px) {
    transform-origin: center center;
  }
  .slider {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 100%;
    gap: 8px;
    .skill_container {
      background-color: var(--background-color-less-dark);
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      scale: 0.9;
      min-height: 300px;
      border-radius: var(--little-radius);
      text-align: center;
      color: var(--color1);
      i {
        font-size: 44px;
      }
      span {
        font-weight: 800;
      }
    }
  }
}
